tenancy_ocid     = "ocid1.tenancy.oc1..aaaaaaaa..."
user_ocid        = "ocid1.user.oc1..aaaaaaaa..."
fingerprint      = "aa:bb:cc:dd:ee:ff:00:11:22:33:44:55:66:77:88:99"
private_key_path = "~/.oci/oci_api_key.pem"
region           = "sa-santiago-1"
compartment_ocid = "ocid1.compartment.oc1..aaaaaaaa..." # o el mismo tenancy_ocid para usar root
cluster_name     = "sdypp-cluster"
ocir_namespace   = "sdypptenancy"
ssh_public_key   = "ssh-rsa AAAA... gonzalo@laptop"
github_repo      = "GonzaEC/SDyPP-FINAL-ABC"
